@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>RSPH is an independent health education charity and the world’s longest-established public health body. Our vision is that everyone should have the opportunity to optimise their health and wellbeing.</p>
