@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    Contact us

    Please visit our Frequently Asked Questions - Membership or Frequently Asked Questions Qualifications pages before completing this form, as you may be able to find the answer to your question. Alternatively, you can call us on 020 7265 7300.

    If your enquiry is regarding qualifications, please visit our Qualifications enquiries page where you will find guidance on how best to direct your query.

    If your enquiry is regarding press or policy, please contact our press office on 020 7265 7326. If out of office hours, please call 07803 328353.
</p>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>